delete interfaces {{ interface }} unit 0
set interfaces {{ interface }} vlan-tagging
set interfaces {{ interface }} unit {{ interface_unit }} vlan-id {{ vlan_id }} family inet address {{ ip_address }}/24
